
@media only screen and (min-width: 200px) and (max-width: 450px) {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    header {
        color: white;
        padding: 10px 15px; 
        position: sticky;
        top: 0;
        z-index: 1000;
        border-bottom: 1px solid black;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
    }

    nav li {
        margin-right: 15px; 
    }

    nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 14px; 
    }

    nav a.active {
        color: #008080;
        border-bottom: 2px solid #008080;
    }

    .content-container {
        max-width: 100vw;
        margin: 0 auto;
    }

    section {
        padding: 30px 15px; 
    }

    .section-content {
        max-width: 200px;
        margin: 0 auto;
    }

    #home {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/027/223/557/small_2x/pink-fluffy-soft-clouds-beautiful-cloudy-sky-dream-cloud-of-heaven-nature-background-or-backdrop-photo.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 0; 
    }

    .home-section {
        text-align: center;
        height: auto; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .home-section h1 {
        margin-top: 15%; 
        font-size: 1.5em; 
        margin-bottom: 10px;
    }

    .designation {
        font-size: 1.2em; 
        color: black;
        margin-bottom: 15px; 
    }

    .social-icons {
        margin-top: 15px;
    }

    .social-icons a {
        display: inline-block;
        margin-bottom: 20px;
    }

    .social-icons img {
        width: 40px; 
        height: 40px; 
    }

    .scroll-down-arrow {
        margin-left: 50%;
        bottom: 10px; 
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }

    #arrow-img {
        width: 30px; 
        height: 30px; 
    }

    .scroll-down-arrow:hover #arrow-img {
        content: url('images/downhover.png');
    }
}