html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid black;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a.active {
    color: black; 
    border-bottom: 2px solid black; 
}


.content-container {
    max-width: 100%;
    margin: 0 auto;
}

section {
    padding: 50px 20px; 
}

#home {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/027/223/557/small_2x/pink-fluffy-soft-clouds-beautiful-cloudy-sky-dream-cloud-of-heaven-nature-background-or-backdrop-photo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: -50px;
}

.home-section {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.home-section h1 {
    margin-top: 35%;
    font-size: 4em;
    margin-bottom: 10px;
}

.designation {
    font-size: 1.5em;
    color: black;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
}

.social-icons img {
    width: 50px; 
    height: 50px;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#arrow-img {
    width: 40px;
    height: 40px;
}

.scroll-down-arrow:hover #arrow-img {
    content: url('images/downhover.png');
}

#about {
    background-color: white;
    padding-top: 100px; 
}

.about-content {
    display: flex;
    align-items: center;
}

#about p {
    text-indent: 40px;
}

.profile-image {
    flex: 0 0 auto;
    margin-right: 5px; 
}

.profile-image img {
    width: 100%; 
    max-width: 200px; 
    border-radius: 50%; 
}

.about-text {
    flex: 1;
    max-width: 600px;
}

#about .section-content h2 {
    text-align: center;
    font-size: 1.2em;
    color: #008080;
    margin-bottom: -30px;
}

#about .section-content .intro-text {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-right: 15px;
    margin-bottom: 10px;
}

#about .section-content p {
    color: #444;
    font-size: 1.15em;
}

#about .additional-content {
    display: flex;
    justify-content: space-between; 
    max-width: 50%;
    margin-left:28%;  
    margin-top:30px;
}

#about .additional-content p {
    text-indent: 0;
    font-size: 1em; 
}

#about .profile-info{
    margin-top: 40px;
}

#about .profile-info p {
    margin: -2.5px 0;
    color:#666;
    font-weight: bold;
}

#about .profile-info strong {
    color: #999; 
}

#about .info-group {
    margin-bottom: 25px; 
}

.left-column,
.right-column {
    width: 48%; 
}

.left-column h3,
.right-column h3 {
    color: black;
}

#about .left-column a {
    color: #FFA500; 
    transition: color 0.3s ease;
}
#about .left-column a:hover {
    color: gray; 
}

#about .button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 5%;
    padding:20px;
}

#about .about-buttons a {
    margin-right: 100px;
    padding: 20px 70px;
    background-color: #FFA500;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#about .about-buttons a:hover {
    background-color: #888;
    margin-top: 20px;
}

#education-experience {
    background-color: black;
    text-align: center;
    padding-top: 100px;
}

#education-experience h2 {
    color: #FFA500;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: -30px;
}

#education-experience .section-content .intro-text {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    margin-bottom: 70px;
    margin-left: 20px;
}

#education-experience .section-content .intro-text-head {
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    color: #FFA500;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.timeline-item {
    display: flex;
    margin-left: -35%;
    align-items: flex-start;
    margin-bottom: 30px;
    width: 200%;
}

.timeline-column {
    flex: 1;
    align-items: center;
    padding: 5px;
}

.timeline-credential{
    font-weight: bold;
    color: #008080;
    flex: 3;
    display: flex;
    margin-top: -20px;
    text-align: center;
    flex-direction: column;
}

.timeline-credential p {
    margin-top: -10px;
}

.timeline-info {
    flex: 3;
    display: flex;
    text-align: left;
    margin-left: -10%;
}

.timeline-info h3 {
    color: white;
    margin-bottom: 15px;
    margin-top: 0;
    height: 18px;
}

.timeline-info p {
    color: #CCC;
    margin: 0;
}


#projects {
    background-color: #a0a0a0; 
}

#activities {
    background-color: #808080; 
}

#contact {
    background-color: #606060; 
}

.section-content {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

p {
    color: #555;
}
